      .send-button {
        background-color: rgb(25, 135, 84);
        color: white;
        border: none;
        padding: 12px 20px;
        margin: 5px;
        border-radius: 10px;
        font-size: 15px;
        cursor: pointer;
      }

      .chat-input {
        padding: 12px 15px;
        margin: 5px;
        border-radius: 10px;
        border: 1px solid #ccc;
        font-size: 15px;
        flex-grow: 1;
      }

      .chat-input-container {
        display: flex;
        margin-bottom: 20px;
       
      }